* {
    font-family: 'Lato', sans-serif;
  }


p {
line-height: 1.45em;
}

a {
text-decoration: none;
}

body {
    max-width: 80%;
    margin: auto;
    background-color: #330066;
    color: #336600;
    
}