body {
    max-width: 80%;
    margin: auto;
    
}

.gallery a {
    display: flex;
    justify-self: center;
    align-self: center;
    max-height: 50%;
}

// .data-caption {
//     font: white;
// }