.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#searchBar{
    padding:15px;
    border-color: #336600;
    border-width: 4px;
    border-radius: 8px;
    background-color: #eddcff;
    color: #330066;
  }

  input[type=text] {
     min-width: 30%;
     -webkit-transition: width 1s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
  }